.features {
  max-width: 1152px;
  margin: 0 auto 60px;
  padding: 0;
  box-sizing: border-box;
}

.features__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  display: flex;
  gap: 16px;
  align-items: center;

  width: 288px;
  min-height: 57px;
  padding: 0 40px;
  box-sizing: border-box;

  font-weight: 300;

  border-right: 1px solid $color-soft-grey;
}

.features__icon {
  flex-shrink: 0;
}

.features__item:nth-child(4n) {
  border: none;
}
