.page-header {
  margin-bottom: 20px;
}

.page-header__top-container {
  min-height: 36px;
  padding: 9px 0;
  box-sizing: border-box;

  background-color: $color-basic-black;
}

.page-header__bottom-container {
  min-height: 72px;
  padding: 25px 0 18px;
  box-sizing: border-box;
}
