//Colors

$color-basic-black: #383741;
// $color-soft-black: #000101;
// $color-hard-grey: #c6c6c6;
// $color-basic-grey: #444444;
// $color-middle-grey: #e5e5e5;
// $color-normal-grey: #f9f9f9;
// $color-soft-grey: #f1f1f1;
// $color-light-grey: #ececec;
$color-basic-white: #ffffff;
$color-basic-red: #fd6c53;
$color-hard-grey: #c4c4c4;
$color-basic-grey: #e1e0eb;
$color-soft-grey: #e1e1e8;

// $color-basic-middle-green: #59d5bc;
// $color-basic-light-green: #63d1bb;
// $color-basic-soft-green: #62d1ba;
// $color-basic-dark-green: #56c3b2;
// $color-basic-hard-green: #46c1ae;
// $color-basic-extra-green: #149080;
